In [5]:

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select 

import pandas as pd
import numpy as np

import time

# 2023 - 2012

In [8]:
scores = []
countries = []
years = []

for y in range(2012,2024):
    # create webdriver object
    driver = webdriver.Chrome(r'C:\Users\panda\Downloads\chromedriver-win32\chromedriver')

    # get to the website
    driver.get(f"https://www.transparency.org/en/cpi/{y}")

    time.sleep(5)

    score = driver.find_elements(By.CSS_SELECTOR,"span.font-bold.inline-block.mr-4")
    for s in score:
        scores.append(s.text)
    # print(len(scores))
    country = driver.find_elements(By.CSS_SELECTOR,"span.flex-1.truncate.pr-2")
    for c in country:
        countries.append(c.text)
        years.append(y)
    print(y, len(scores), len(years))
    driver.close()

C:\Users\panda\AppData\Local\Temp\ipykernel_24392\1983392863.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\panda\Downloads\chromedriver-win32\chromedriver')

2012 176 176
2013 353 353
2014 528 528
2015 696 696
2016 872 872
2017 1052 1052
2018 1232 1232
2019 1412 1412
2020 1592 1592
2021 1772 1772
2022 1952 1952
2023 2132 2132

In [9]:
dt = pd.DataFrame({'country': countries,
                    'year': years,
                    'score': scores})
first_last = dt.sort_values(['country','year']).groupby(dt['country'])['score'] \
        .agg(['first', 'last']).reset_index()
first_last = first_last.rename(columns={"first": "Earliest", "last": "MostRecent"})
dt = dt.pivot_table(index = 'country',
                    columns='year',
                    values = 'score').reset_index()
dt = dt.merge(first_last, on = 'country', how = 'left')
country = pd.read_excel('Country.xlsx')
dt = country.merge(dt, on = 'country', how = 'left')
dt = dt.drop(columns=['country'])
# dt.to_csv('CorruptionCPINew.csv',index = False)
dt

,Country,FIPS_CODE,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Earliest,MostRecent
0,Afghanistan,AFG,8.0,8.0,12.0,11.0,15.0,15.0,16.0,16.0,19.0,16.0,24.0,20.0,8,20
1,Albania,ALB,33.0,31.0,33.0,36.0,39.0,38.0,36.0,35.0,36.0,35.0,36.0,37.0,33,37
2,Algeria,DZA,34.0,36.0,36.0,36.0,34.0,33.0,35.0,35.0,36.0,33.0,33.0,36.0,34,36
3,Angola,AGO,22.0,23.0,19.0,15.0,18.0,19.0,19.0,26.0,27.0,29.0,33.0,33.0,22,33
4,Argentina,ARG,35.0,34.0,34.0,32.0,36.0,39.0,40.0,45.0,42.0,38.0,38.0,37.0,35,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,"Venezuela, Bolivarian Republic",VEN,19.0,20.0,19.0,17.0,17.0,18.0,18.0,16.0,15.0,14.0,14.0,13.0,19,13
184,Viet Nam,VNM,31.0,31.0,31.0,31.0,33.0,35.0,33.0,37.0,36.0,39.0,42.0,41.0,31,41
185,Yemen,YEM,23.0,18.0,19.0,18.0,14.0,16.0,14.0,15.0,15.0,16.0,16.0,16.0,23,16
186,Zambia,ZMB,37.0,38.0,38.0,38.0,38.0,37.0,35.0,34.0,33.0,33.0,33.0,37.0,37,37
187,Zimbabwe,ZWE,20.0,21.0,21.0,21.0,22.0,22.0,22.0,24.0,24.0,23.0,23.0,24.0,20,24